services:
  - type: web
    name: rpg-market
    runtime: docker
    plan: free
    dockerfilePath: ./Dockerfile
    envVars:
      - key: MONGODB_DATABASE
        value: Cluster0
      - key: MONGODB_URI
        sync: false
      - key: SPRING_PROFILES_ACTIVE
        value: prod
      - key: SERVER_PORT
        value: 8080
      - key: APP_UPLOAD_DIR
        value: /tmp/uploads
      - key: LOGGING_LEVEL_ROOT
        value: WARN
      - key: JAVA_OPTS
        value: "-Xmx512m -Xms256m -XX:+UseG1GC -XX:G1HeapRegionSize=16m -XX:+UseStringDeduplication -XX:MaxGCPauseMillis=200"
    healthCheckPath: /health
    numInstances: 1
